@page
@model LotteryPlay.Pages.Account.InfoModel
@{
    ViewData["Title"] = "个人资料";
    Layout = "_Layout";
}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: "Microsoft Yahei",Arial,sans-serif;
        background: #fff;
        color: #333;
    }

    .top-bar {
        background: #fff;
        border-bottom: 1px solid #eee;
        padding: 8px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
    }

    .red {
        color: red;
        font-weight: bold;
    }

    .account-subnav {
        background: #fef0f0;
        border-bottom: 1px solid #f8c0c0;
        padding: 6px 15px;
        font-size: 12px;
    }

        .account-subnav a {
            color: #c02020;
            text-decoration: none;
            margin-right: 15px;
        }

    .container {
        width: 600px;
        margin: 30px auto;
        border: 1px solid #eee;
        padding: 20px;
    }

    .item {
        margin: 15px 0;
        font-size: 14px;
    }

        .item label {
            display: inline-block;
            width: 100px;
            text-align: right;
            margin-right: 10px;
        }

    .btn {
        padding: 6px 20px;
        background: #c02020;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>

<div class="account-subnav">
    <a href="/Account/Info" style="font-weight:bold;">个人资料</a>
    <a href="/Account/Pwd">修改密码</a>
    <a href="/Account/FundLog">资金明细</a>
    <a href="/Account/Recharge">我要充值</a>
    <a href="/Account/Withdraw">我要提款</a>
    <a href="/">返回投注大厅</a>
</div>
